[submodule ".vim/bundle/delimitmate"]
	path = .vim/pack/nikersify/start/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/nikersify/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/nikersify/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/pack/nikersify/start/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/pack/nikersify/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-pug"]
	path = .vim/pack/nikersify/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/pack/nikersify/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-vue"]
	path = .vim/pack/nikersify/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/bundle/vim-riot"]
	path = .vim/pack/nikersify/start/vim-riot
	url = https://github.com/ryym/vim-riot.git
[submodule ".vim/bundle/vim-closetag"]
	path = .vim/pack/nikersify/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/pack/nikersify/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/vim-xo"]
	path = .vim/pack/nikersify/start/vim-xo
	url = https://github.com/sindresorhus/vim-xo
[submodule ".vim/bundle/dracula"]
	path = .vim/pack/nikersify/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/nikersify/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/fzf"]
	path = .vim/pack/nikersify/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/nikersify/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/pack/nikersify/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/pack/nikersify/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/ale"]
	path = .vim/pack/nikersify/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/pack/nikersify/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/completor.vim"]
	path = .vim/pack/nikersify/start/completor.vim
	url = https://github.com/maralla/completor.vim
[submodule ".vim/bundle/ultisnips"]
	path = .vim/pack/nikersify/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/nikersify/start/vim-vinegar"]
	path = .vim/pack/nikersify/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/pack/nikersify/start/vim-eunuch"]
	path = .vim/pack/nikersify/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/pack/nikersify/start/vim-commentary"]
	path = .vim/pack/nikersify/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/nikersify/start/ReplaceWithRegister"]
	path = .vim/pack/nikersify/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
