[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai
[submodule "/home/niker/.vim/bundle/delimitmate"]
	path = /home/niker/.vim/bundle/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "/home/niker/.vim/bundle/neocomplete.vim"]
	path = /home/niker/.vim/bundle/neocomplete.vim
	url = https://github.com/shougo/neocomplete.vim
