{:profiles
 {:Default {:default true
            :sim 50
            :delay 80
            :alone 120
            :held 10}}
 :main [{:des "hjkl navigation with fn to arrow keys"
         :rules [[:!F##h :left_arrow]
                 [:!F##j :down_arrow]
                 [:!F##k :up_arrow]
                 [:!F##l :right_arrow]]}

        ; used on us international layout, which all macs sold in poland have
        {:des "key left of 1 to (`) & (~)"
         :rules [[:##non_us_backslash :grave_accent_and_tilde]]}
        {:des "key left of z to hyper"
         :rules [[:grave_accent_and_tilde :!CTOleft_shift]]}
        ]}
